@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.bg-container {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-bg.png');
    background-size: cover;
    height: 100vh;
}

.card1 {
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    padding: 45px;
}

.heading {
    color: #f19116;
    font-family: Bree Serif;
    font-size: 19px;
}

.para {
    font-size: 13px;
    color: #6c6b70;
    font-family: Bree Serif;
}

.button {
    border-width: 0px;
    color: #ffffff;
    background-color: #f19116;
    border-radius: 5px;
    padding: 4px;
    font-size: 13px;
    width: 80px;
    margin: 14px;
}


.bg-container2 {
    background-color: #222222;
    background-size: cover;
    height: 100vh;
}

.card2 {
    background-color: #ffffff;
    border-radius: 7px;
    margin: 15px;
}

.head2 {
    font-family: Bree Serif;
    font-size: 18px;
    color: #0f0e46;
    font-weight: bold;
}

.img {
    height: 150px;
    width: 80px;
}

.card21 {
    padding: 10px;
}

.para2 {
    font-size: 11px;
    color: #6c6b70;
    font-family: Bree Serif;
}

.heading2 {
    color: #f19116;
    font-family: Bree Serif;
    font-size: 19px;
    padding: 15px;
}

.img2 {
    height: 132px;
    width: 80px;
}

.img3 {
    height: 130px;
    width: 80px;
}

.imggg {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-d1-img.png');
    height: 35vh;
    background-size: cover;
}

.bg-container3 {
    background-color: #222222;
    height: 65vh;
    background-size: cover;
    padding: 20px;
}

.paraaa {
    color: #ffffff;
    font-family: Bree Serif;
    font-size: 12px;
    padding: 5px;
}

.icon {
    height: 20px;
    width: 20px;
}

.imggg2 {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-d2-img.png');
    height: 35vh;
    background-size: cover;
}

.imggg3 {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-d3-img.png');
    height: 35vh;
    background-size: cover;
}